@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Noto+Sans+JP|Oswald');
* {
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  /*background: #1c1d22;*/
}
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Noto Sans JP', sans-serif;
}
section.top {
  background: url("/images/bg7.jpg") no-repeat fixed center;
  background-size:cover;
  padding-bottom: 50px;
}
.countdown-wrap {
  background: #d24855;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;

}

#clockdiv{
  /*font-family: sans-serif;*/
  color: #fff;
  display: flex;
  justify-content: center;

  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  margin:10px;
  border-radius: 3px;
  background: rgba(0,0,0,0.4);
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  /*background: rgba(217,79,92,0.6);*/
  background: rgba(0,0,0,0.6);
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}



@media (min-width: 576px) {

}


@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}