<template name="ProfileTpl">
    <style>
        section.top {
            background: url("/images/booking/bg7.png") no-repeat fixed center;
            background-size: cover;
            padding-bottom: 30px;
        }
        .content.mt-3 {
            margin: 0rem !important;
        }
        .commande-section {
            padding:20px;
        }

        body {
            background: #ecf0f1;
        }
        .profil i {
            color:#333;
        }
    </style>
    {{#if user_id }}
        <section class="profil">
            <div class="row profile-row" style="">
                <div class="col-2 profile-img" style="text-align:center">
                    <img src="/images/avatar/5.jpg" alt="" class="img-fluid img-circle">
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="same-liner" style="width:100%;">
                                <span class="same-line">Edition utilisateur - mode admin</span><br>
                                <span class="same-line">{{userName}}</span>
                                <small class="badge badge-{{chColor}} badge-pill" id="set-chouille" style="font-size: 0.25em;cursor:pointer" alt="Mettre {{chouille}} Pack Chouille">{{chouille}} Pack Chouille</small>
                                <small class="badge badge-{{reColor}} badge-pill" id="set-referent" style="font-size: 0.25em;cursor:pointer" alt="Mettre {{referent}}">{{referent}}</small>
                            </h2>
                            <hr>
                        </div>
                    </div>
                    {{#with thisUser}}
                        {{#with profile}}
                            <div class="row same-liner-infos">
                                <div class="col-6 same-line">
                                    <span><i class="fa fa-at"></i> {{email}}</span>
                                    <span><i class="fa fa-phone"></i> {{phone}}</span><br>
                                    <span><i class="fa fa-map"></i> {{adresse}} {{cp}} {{ville}}</span>
                                </div>
                                {{#with emergency}}
                                    <div class="col-6 same-line">
                                        <span><i class="fa fa-shield"
                                              title="Nom de votre contact en cas d'urgence"></i> {{prenom}} {{nom}}</span>
                                        <span><i class="fa fa-phone"
                                              title="Téléphone de votre contact en cas d'urgence"></i> {{phone}}</span><br>
                                        <span><i class="fa fa-map"
                                              title="Adresse de votre contact en cas d'urgence"></i> {{adresse}} {{cp}} {{ville}}
                                        </span>
                                    </div>
                                {{/with}}
                            </div>
                        {{/with}}

                    {{/with}}
                </div>
            </div>
        </section>
        <section class="commande-section">
            <div class="row">
                {{#if hasOrder}}
                    <div class="col-12">
                        <!--<h1>Takeu80</h1>-->
                        {{>userOrder}}
                    </div>
                {{else}}
                    <div class="col-12" style="text-align:center">
                        <h1>C'est Triste</h1>
                        <p>Nous n'avons trouvé aucune réservation au nom de cette personne pour SKZ 2019</p>
                        <p>Elle pourrait ne pas en faire si elle n'aime pas les gens et qu'elle pense que la branlette
                            et les grottes, c'est l'avenir de l'humanité !</p>
                        <p>Sinon, elle peut s'inscrire bientôt</p>
                    </div>
                {{/if}}
            </div>
        </section>

    {{else}}
        <h1>Accès non autorisé</h1>
    {{/if}}
</template>