<template name="forbidden">
    <section
            style="background: #ecf0f1; text-align: center; height:100vh;">

        <div class="row">
            <div class="col-12" style="text-align:center">
                <article class="skz" style="max-width:50%; text-align: center; margin:auto; margin-top:50px;">
                    <img src="/images/noirv.png" alt="" class="img-fluid">
                    <!--skz arrive !-->
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1>Déso, mon pote !</h1>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 class="redded">
                    Vous n'avez pas les droits suffisants pour accéder à cette page.
                </h1>
            </div>
        </div>
    </section>
</template>