<template name="Dashboard">
    <style>
        section.top {
            background: url("/images/booking/bg7.png") no-repeat fixed center;
            background-size: cover;
            padding-bottom: 30px;
        }

        .menu a {
            color: #333;
        }

        body {
            background: #ecf0f1;
        }

        .profil i {
            color: #333;
        }
    </style>
    {{#if currentUser }}
        <section class="profil">
            <div class="row profile-row" style="">
                <div class="col-2 profile-img" style="text-align:center">
                    <img src="/images/avatar/5.jpg" alt="" class="img-fluid img-circle">
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="same-liner">
                                <span class="same-line">Dashboard</span><br>
                                <span class="same-line">{{userName}}</span>
                            </h2>
                            <hr>
                        </div>
                    </div>
                    {{#with currentUser}}
                        {{#with profile}}
                            <div class="row same-liner-infos">
                                <div class="col-6 same-line">
                                    <span><i class="fa fa-at"></i> {{email}}</span>
                                    <span><i class="fa fa-phone"></i> {{phone}}</span><br>
                                    <span><i class="fa fa-map"></i> {{adresse}} {{cp}} {{ville}}</span>
                                </div>
                                {{#with emergency}}
                                    <div class="col-6 same-line">

                                        <span><i class="fa fa-shield"
                                                 title="Nom de votre contact en cas d'urgence"></i> {{prenom}} {{nom}}</span>
                                        <span><i class="fa fa-phone"
                                                 title="Téléphone de votre contact en cas d'urgence"></i> {{phone}}</span><br>
                                        <span><i class="fa fa-map"
                                                 title="Adresse de votre contact en cas d'urgence"></i> {{adresse}} {{cp}} {{ville}}
                                        </span>
                                    </div>
                                {{/with}}
                            </div>
                        {{/with}}
                    {{/with}}
                </div>
            </div>
        </section>
        <section class="commande-section">
            <div class="row">
                {{#if hasOrder}}
                    <div class="col-2 carto" style="max-width:100%;">
                    </div>
                    <div class="col-8">
                        <a href="/order/edit/1" class="btn btn-lg btn-danger">Modifier ma commande</a>
                        {{> userOrder }}
                    </div>
                    <div class="col-2 carto">

                    </div>
                {{else}}
                    <div class="col-12" style="text-align:center">
                        <h1>C'est Triste</h1>
                        <p>Nous n'avons trouvé aucune réservation à votre nom pour SKZ 2019</p>
                        <p>Vous pouvez ne pas en faire si vous n'aimez pas les gens et que vous penser que la branlette
                            et les grottes, c'est l'avenir de l'humanité !</p>
                        <p>Sinon, vous pouvez violemment cliquer sur ce bouton</p>
                        <a href="/reserver" class="btn btn-lg btn-danger">Je résèrve ma place pour SKZ 2019</a>
                    </div>
                {{/if}}
            </div>
        </section>

    {{else}}
        <h1>Accès non autorisé</h1>
    {{/if}}
</template>
