<template name="register">
    <h2>Inscrivez-vous</h2>
    <form class="register">
        <div class="form-group"><label for="">Email</label><input type="text" name="email" class="form-control"></div>
        <div class="form-group"><label for="">Nom</label><input type="text" name="nom" class="form-control"></div>
        <div class="form-group"><label for="">Prénom</label><input type="text" name="prenom" class="form-control"></div>
        <div class="form-group"><label for="">Prom's</label><input type="text" name="promo" class="form-control"></div>
        <div class="form-group"><label for="">Buque</label><input type="text" name="buque" class="form-control"></div>
        <div class="form-group"><label for="">Num's</label><input type="text" name="nums" class="form-control"></div>
        <div class="form-group"><label for="">Tabagn's</label><input type="text" name="tbk" class="form-control"></div>
        <div class="form-group"><label for="">Téléphone</label><input type="text" name="phone" class="form-control"></div>
        <div class="form-group"><label for="">Adresse</label><input type="text" name="adresse" class="form-control"></div>
        <div class="form-group"><label for="">Mot de passe</label><input type="password" name="password" class="form-control"></div>
        <div class="form-group"><label for="">Mot de passe(verif.)</label><input type="password" name="password2" class="form-control"></div>
        <div class="form-group">
            <input type="submit" value="Soumettre" class="btn btn-primary form-control">
        </div>
    </form>
</template>
