@import "https://fonts.googleapis.com/css?family=Karla";

header {
    font-family: Karla, "Times New Roman";
    position: relative;
    padding: 20px 0 0;
    -webkit-transform-style: preserve3d;
    transform-style: preserve3d;
    -webkit-perspective: 3000px;
    perspective: 3000px;
    z-index: 10000;
}

.menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.menu a {
    padding: 20px 20px;
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

.menu a:hover {
    color: #e74c3c;
}


.menu-title {
    margin: 0 0 10px;
    font-size: 18px;
    color: rgba(217, 79, 92, 1);
}

.info {
    line-height: 1.7;
}

/*Modal*/
.modal {
    bottom: unset;
    margin-bottom: 50px;
}

p.center {
    text-align: center;
}

.row-ski {
    background: #d6222f;
    color: #fff;
}

.infals a {
    text-align: center;
}

.infals .content {
    padding: 20px;
}

.row-gadz {
    background: #ecf1f0;
}

.specif {
    text-align: center;
}

.row-soiree {
    background: rgba(217, 79, 92, 1);

}

.nopadding {
    padding: 0;
    margin: 0;
}

.nopadding div {
    padding: 0;
}

.row_register {
    display: none;
    text-align: center;
}

.row_reserver {
    display: none;
    text-align: left;
    line-height: 1.5;
}

/*.row_register*/
.register_wrap {
    text-align: center;
    background: #ecf0f1;
    /*padding:20px;*/
}

.padding20 {
    padding: 20px;
}

.form-control {
    height: calc(3rem + 2px) !important;
}

/*.video iframe {*/
/*width:80%;*/
/*height:auto;*/
/*margin: auto;*/
/*}*/
.video {
    padding: 20px;
    text-align: center;
    background: #000;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.mainLayout section {
    padding-left: 105px !important;
}

.station-top {
    background: rgba(217, 79, 92, 1);
    background: rgba(217, 79, 92, 1) url("/images/valmeinier.jpg") no-repeat fixed;
    color: #fff;
}


.grey-domaine-band {
    background: #ecf0f1;
    /*rgba(217, 79, 92, 1);*/
    padding: 0.67em;
    color:#333;
    text-align:left;
}
.domaine-band p {
    font-size:1.3rem;
}
.red-domaine-band h1 {
    /*text-align: center;*/

}
.blue-domaine-band {
    /*background: rgba(217, 79, 92, 1);*/
    background-color: #0096D6;
    text-align: center;
    padding: 0.67em;
    color:#fff;
}

.station-second {
    background: url("/images/domaine.jpg") rgba(0,0,0,0.5) no-repeat fixed;
    min-height: 50vh;

}

.station-second h1 {
    text-align: center;
    margin:0;
    padding: 0.75em;
    color: #fff;
}
.register-tpl {
    min-height:100vh;
    background: #7c141e;
    color:#fff;
    font-size:1.5em;
}
.equipe-section {
    min-height:100vh;

    background: #ecf0f1;
    color: #333;
    font-size:1.4em;
}
.equipe-section img.img-circle {
    max-width:200px;
    max-height:200px;
}
.redded {
    color: #DE0B46;
}
section.event {
    background: url(/images/topography.png) repeat;
    height: 100%;
    color: #333;
    font-size:1.5em;
    text-align: center;
    min-height:100vh;
}
.les-skz img {
    max-height:175px;
}
