<template name="ReserverTemplate">
    <style>
        section.top {
            background: url("/images/booking/bg7.png") no-repeat fixed center;
            background-size: cover;
            padding-bottom: 50px;
        }
        ul.accordeon {
            display: flex;
            min-height: 75vh;
            max-height: 100vh;
            margin: 0;
            padding: 0;
            overflow: hidden;
            list-style-type: none;
        }

        .accordeon li {
            flex: 1;
            display: flex;
            align-items: stretch;
            padding: 5px;
            background: #E74C3C;
            cursor: pointer;
            transition: all .5s ease;
            min-width:10%;
            max-width:15%

        }
        .accordeon li:hover {
            background: #e53f2e;
        }
        .accordeon li.active {
            flex: 6;
            background: #fff;
            cursor: default;
            min-width:55%;

        }
        .accordeon li.active h2 {
            color: #E74C3C;
        }
        .accordeon li.active .section-content {
            flex: 5;
            opacity: 1;
            transform: scaleX(1);
            color: #333;
            text-align: left;
        }
        .accordeon li .section-title {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0;
            padding: 0;
            text-align: center;
            color: white;
        }
        .accordeon li .section-title h2 {
            margin: 0;
            transform: rotate(-90deg);
            white-space: nowrap;
        }
        .accordeon li .section-content {
            /*flex: 1;*/
            /*display: flex;*/
            /*align-items: center;*/
            margin: auto;
            padding: 0;
            opacity: 0;
            transition: all .25s .1s ease-out;
        }

    </style>
    <section class="top">
        {{>HeaderTemplate}}
        <div class="row">
            <div class="col-12">
                <article class="skz" style="max-width:15%; text-align: center; margin:auto; margin-top:10px;">
                    <img src="/images/blancv.png" alt="" class="img-fluid">
                </article>
                <h1 style="text-align: center; color:#fff">Réservez votre place dès maintenant !</h1><br>
            </div>
        </div>
    </section>
    <section class="register_wrap">
        {{#each order}}

            <ul class="accordeon">
                <li id="prelude" class="active">
                    <div class="section-title">
                        <h2>Etape 1</h2>
                    </div>
                    <div class="section-content">
                       <div><h1>Vous y êtes presque !</h1> <br>

                           <p>Le processus de réservation est composé de quatre courtes étapes !</p>
                           <p>Vous allez bientôt pouvoir profiter du Pack exceptionnel que vous propose la Team SKZ 216 !</p>
                            <p>Vous n'êtes pas prêt·e·s pour la semaine all inclusive
                            <small>comme mon écriture</small>
                                que vous allez vivre !</p>
                        <br>
                            <p>Veuillez simplement vous munir d'un exemplaire en état de fonctionnement de votre cerveau<br>
                                et ce sera rapide...<br><small>Une pensée pour les Clun'sssois·e·s !</small></p>
                        <br><br>
                           <p><strong>La Team SKZ216</strong></p><br><br>
                        <button class="btn btn-lg btn-danger start_btn">C'est parti !</button>
                        </div>
                    </div>
                </li>
                <li id="just_start">
                    <div class="section-title">
                        <h2>Etape 2</h2>
                    </div>
                    <div class="section-content">
                        <h2>Configurons votre réservation</h2>
                        <form id="reserver_form_1">
                            <div class="form-group">
                                <label>Suivez-vous un regime alimentaire particulier ?</label>
                                <input type="hidden" name="_id" value="{{ _id }}">
                                <select name="food" id="food level" class="form-control">
                                    <option value="0" {{ foodType 0 }}>Non</option>
                                    <option value="1" {{ foodType 1 }}>Sans porc</option>
                                    <option value="2" {{ foodType 2 }}>Végétarien</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Vous pratiquez : </label>
                                <select name="sports" id="sports" class="form-control">
                                    <option value="0" {{ sportsType 0 }}>Le ski</option>
                                    <option value="1" {{ sportsType 1 }}>Le snowboard</option>
                                    <option value="2" {{ sportsType 2 }}>Les deux</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Quel est votre niveau ?</label>
                                <select name="level" id="level" class="form-control">
                                    <option value="0" {{ levelType 0 }}>Débutant</option>
                                    <option value="1" {{ levelType 1 }}>Intermédiaire</option>
                                    <option value="2" {{ levelType 2 }}>Avancé</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-lg btn-danger" value="Enregistrer">
                            </div>
                            <!--Rajouter des commentaires débiles à la fin du truc (si vous avez un max de carré vous êtes psychorigide de niveau >= 3, vous êtes un AS de la Glisse (badge Ass de la glisse avec un cul))-->
                        </form>
                    </div>
                </li>
                <li id="mid_things">
                    <div class="section-title">
                        <h2>Etape 3
                            </h2>
                    </div>
                    <div class="section-content">
                        <h2>Choix des activités et des options</h2>
                        <form action="" id="reserver_form_2">
                            <div class="form-group one-at-time active" id="one-">
                                <label for="">Par quelles activités es-tu intéressé·e ? (Pas plus de 4 activités
                                    !)</label>
                                {{> universeSelectize name="activities" id="activities"  options=activitiesOptions multiple=true create=false remove=true}}
                                <small id="activities-error"></small>
                            </div>
                            {{#each allOptions}}
                                <div class="form-group one-at-time" id="one-{{@index}}">
                                    <h3>{{name}}</h3>
                                    <label for="{{option_id}}">{{desc}}</label>
                                    {{> universeSelectize name=option_id id=option_id  options=ChoicesOptions multiple=option_multiple create=false remove=true}}
                                </div>
                            {{/each}}
                            <div class="form-group">
                                <button class="btn btn-lg one-at-time-prev">Précédent</button>
                                <input type="submit" value="Enregistrer"
                                       class="one-at-time-next btn btn-lg btn-danger"></div>
                        </form> </div>
                </li>
                <li id="last_things">
                    <div class="section-title">
                        <h2>Etape 4</h2>
                    </div>
                    <div class="section-content">
                        <p>
                            <h2>Vous touchez au but !<br>
                            <small>Finalisation et Paiement</small>
                            </h2>
                            <br>
                            Vous pourrez retrouver un récapitulatif de votre commande dans votre <a>Dashboard</a>.
                        </p>
                        <p>
                            Vous pouvez procéder au paiement pour voir votre commande validée et
                            votre réservation effective.<br>
                        </p>
                        <p>
                            <strong>Notez qu'après la date limite du premier paiement, vous ne pourrez plus modifier votre commande.</strong>
                            </p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Paiement</th>
                                <th>Somme</th>
                                <th>Echéance</th>
                                <th>Statut</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1<sup>er</sup> Paiement</td>
                                <td>{{ toPay1 }} €</td>
                                <td>{{ date_paiement1 }}</td>
                                <td>
                                    {{#if status 1}}
                                        <span class="btn btn-primary">Validé</span>
                                    {{else}}
                                        {{#if payWait 1}}
                                            <span class="btn btn-light">En attente</span>
                                        {{else}}
                                            <button class="btn btn-danger pay-trigger-btn">Payer</button>
                                        {{/if}}
                                    {{/if}}
                                    </td>
                            </tr>
                            <tr>
                                <td>2<sup>nd</sup> Paiement</td>
                                <td>{{toPay2}} €</td>
                                <td>{{date_paiement2}}</td>
                                <td>
                                    {{#if status 2}}
                                        <span class="btn btn-primary">Validé</span>
                                    {{else}}
                                        {{#if payWait 2}}
                                            <span class="btn btn-light">En attente</span>
                                        {{else}}
                                            <button class="btn btn-danger pay-trigger-btn">Payer</button>
                                        {{/if}}
                                    {{/if}}
                                </td>
                            </tr>
                            <tr>
                                <td>3<sup>ème</sup> Paiement</td>
                                <td>{{toPay3}} €</td>
                                <td>{{date_paiement3}}</td>
                                <td>
                                    {{#if status 3}}
                                    <span class="btn btn-primary">Validé</span>
                                {{else}}
                                    {{#if payWait 3}}
                                        <span class="btn btn-light">En attente</span>
                                    {{else}}
                                        <button class="btn btn-danger pay-trigger-btn">Payer</button>
                                    {{/if}}
                                {{/if}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div style="text-align: center">
                        <button class="btn btn-lg one-at-time-prev">Précédent pour éditer la commande</button><br><br>
                        <div id="lydia-btn"></div>
                        </div>
                    </div>
                </li>
            </ul>



        {{/each}}
    </section>
    <script src="/js/LYDIASDK.js"></script>
</template>